/*RESETS*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;

  font-size: 1rem;
  font-family: sans-serif;
  /*background: red;*/
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

/* CONTENT */

.section {
  /*padding: 1rem;*/
}

.section__bg-pic {
  min-height: 100vh;
  background: url('http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*COMPONENTS*/

.next-to {
  overflow: auto;
  width: 100vw;
  position: fixed;
  bottom: 2rem;
  padding: 0 2rem;

  /*background: red;*/
}

.next-to__left .next-to__item {
  float: left;
  /*background: green;*/
}

.next-to__right .next-to__item {
  float: right;
  /*background: green;*/
}

.health-number {
  padding-top: 5rem;

  /*background: green;*/
}

.avatar {
  max-height: 30rem;
}

.health {
  height: 2rem;
  width: 8rem;
  /*background: green;*/
}

.ammo {
  text-align: right;
  display: block;
  /*background: green;*/
}
