/*RESETS*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;

  font-size: 1rem;
  font-family: sans-serif;
  /*background: red;*/
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

/* CONTENT */

.section {
  padding: 2rem;
}

.section__bg-pic {
  min-height: 100vh;
  background: url('http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
